POSTGRES_USER=transportation2019
POSTGRES_NAME=transit_analytics_operations_data
POSTGRES_HOST=local_postgis
POSTGRES_PORT=5432
POSTGRES_PASSWORD=Z6mHewT5He75
DJANGO_SECRET_KEY=h0ldon2th3nighT
DEBUG=true
