# PostGIS connection parameters

## database superuser name / password, host, port and database
## see https://hub.docker.com/_/postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=57eH5TweHm6Z
POSTGRES_HOST=local_postgis
POSTGRES_PORT=5432
POSTGRES_DB=postgres

## Django connection parameters
DJANGO_POSTGRES_USER=transportation2019
DJANGO_POSTGRES_PASSWORD=Z6mHewT5He75
DJANGO_POSTGRES_NAME=transit_operations_analytics_data

# Django variables
DEBUG=true
DJANGO_SECRET_KEY=h0ldon2th3nighT
