include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
recursive-include hackoregon_transportation_systems toad *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
